* {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #1D1764;

}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

#chatdiv {
    z-index: 5;
   height: 80%
   position: relative;
    margin-top: 150px;
    position: fixed;
    align-content: center;
    width: 100%;
    height: 0px;
    opacity: 0.8;
}


#moviediv {
    z-index: 2;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

#vimeodiv {
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

#twchatdiv {
    z-index: 6;
    height: 400px;
    width: 350px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;

    opacity: 0.5;
    margin-right: 100px;
}